<div class="main-content__container w-full max-w-sm h-full flex flex-col justify-center p-4 pb-10 mx-auto">
  <h4 class="main-content__heading heading-2 text-grayscale-100 mb-2">Update Your Account</h4>
  <p class="main-content__subheading text-body text-grayscale-100 mb-4">Please fill in this form to update your account information</p>
  <%= form_with model: @user, url: accept_invitation_path do |f| %>
    <% if @user.errors.any? %>
      <div class="flash flash-danger mb-4">
        <h5 class="flash__instruction text-bold text-danger-300 mb-1">
          Please correct the following errors:
        </h5>
        <ul class="flash__list-errors list-disc pl-4">
          <% @user.errors.full_messages.each do |message| %>
            <li class="flash__error-item text-small text-grayscale-100"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="main-content__form-container space-y-4 mb-6">
      <div class="form-control">
        <%= render partial: 'shared/form/label', locals: { for_name: "full_name", placeholder: "Full Name" } %>
        <%= f.text_field :full_name, class: "input-field", placeholder: "Enter the name here", required: "true" %>
      </div>
      <div class="form-control">
        <%= render partial: 'shared/form/label', locals: { for_name: "username", placeholder: "Username" } %>
        <%= f.text_field :username, class: "input-field", placeholder: "Enter your username", value: "", required: "true" %>
      </div>
      <div class="form-control">
        <%= render partial: 'shared/form/label', locals: { for_name: "email", placeholder: "Email" } %>
        <%= f.email_field :email, class: "input-field", placeholder: "", disabled: "true" %>
      </div>
      <div class="form-control">
        <%= render partial: "shared/form/label", locals: { for_name: "user_password", placeholder: "Password"} %>
        <%= render partial: "shared/form/password_field", locals: { f: f, id: "user_password", name: "user[password]", placeholder: "Enter your password"} %>
      </div>
      <div class="form-control">
        <%= render partial: "shared/form/label", locals: { for_name: "user_password_confirmation", placeholder: "Password Confirmation"} %>
        <%= render partial: "shared/form/password_field", locals: { f: f, id: "user_password_confirmation", name: "user[password_confirmation]", placeholder: "Enter your password"} %>
      </div>
    </div>
    <%= f.submit "SUBMIT", class: "btn btn-primary" %>
  <% end %>
</div>

