<h1 class="text-grayscale-100">Users Listing</h1>
</br>
<%= link_to 'Add New User', new_invitation_path, class: "btn btn-primary w-fit" %>
</br>
<table class="w-full text-grayscale-100">
  <thead>
    <tr>
      <th class="text-left">ID</th>
      <th class="text-left">Name</th>
      <th class="text-left" colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.full_name %></td>
        <% if user.invite_token_expired_at.present? %>
          <% if DateTime.now > user.invite_token_expired_at %>
            <td><%= link_to "Re-generate Token", invitation_path(user), data: { turbo_method: :patch, turbo_confirm: 'Are you sure regenerate token for this user?' }, class: "underline" %></td>
          <% else %>
            <td>Waiting Approvals</td>
          <% end %>
        <% else %>
          <td><%= link_to "View Profile", user_path(user), class: "underline w-fit" %></td>
          <td><%= link_to "Edit", edit_user_path(user), class: "underline w-fit" %></td>
          <td><%= link_to "Delete", user_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure to delete this user?' }, class: "underline w-fit" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</br>
<%= link_to "<- Back to Home", root_path, class: "text-grayscale-100" %>