<div class="main-content__container w-full max-w-sm h-full flex flex-col justify-center p-4 pb-20 mx-auto">
  <button class="main-content__sidebar-trigger w-fit btn-circle btn-outline mb-10 xl:hidden" onclick="toggleSidebar()" role="button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
      <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
    </svg>        
  </button>
  <h3 class="main-content__heading heading-3 capitalize text-grayscale-100 mb-2">
    Profile Details
  </h3>
  <ul class="main-content__detail-information mb-4">
    <li class="py-4 flex justify-between items-center border-b border-grayscale-100/10">
      <span class="text-body text-grayscale-100/50">
        Full Name
      </span>
      <span class="text-bold capitalize">
        <%= @user.full_name %>
      </span>
    </li>
    <li class="py-4 flex justify-between items-center border-b border-grayscale-100/10">
      <span class="text-body text-grayscale-100/50">
        Username
      </span>
      <span class="text-bold">
        <%= @user.username %>
      </span>
    </li>
    <li class="py-4 flex justify-between items-center border-b border-grayscale-100/10">
      <span class="text-body text-grayscale-100/50">
        Email
      </span>
      <span class="text-bold">
        <%= @user.email %>
      </span>
    </li>
  </ul>
  <%= link_to edit_user_path(@user), class: "btn btn-primary pr-10 mb-3" do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
      <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
    </svg>  
    <span>Edit</span>
  <% end %>
  <%= link_to "Reset Password", edit_password_path(@user), class: "btn btn-outline" %>
</div>