<div class="main-content__container w-full max-w-sm h-full flex flex-col justify-center p-4 pb-10 mx-auto">
  <%= link_to users_path, class: "main-content__return-btn w-fit btn-circle btn-outline mb-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
    </svg>  
  <% end %>
  <h3 class="main-content__heading heading-3 text-grayscale-100 mb-2">Invite New User</h3>
  <p class="main-content__subheading text-body text-grayscale-100 mb-4">Please fill in this form to invite someone to become a member</p>
  <%= form_with model: @user, url: invitations_path do |f| %>
    <% if @user.errors.any? %>
      <div class="flash flash-danger mb-4">
        <h5 class="flash__instruction text-bold text-danger-300 mb-1">
          Please correct the following errors:
        </h5>
        <ul class="flash__list-errors list-disc pl-4">
          <% @user.errors.full_messages.each do |message| %>
            <li class="flash__error-item text-small text-grayscale-100"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="main-content__form-container space-y-4 mb-6">
      <div class="form-control">
        <%= render partial: 'shared/form/label', locals: { for_name: "full_name", placeholder: "Full Name" } %>
        <%= f.text_field :full_name, class: "input-field", placeholder: "Enter the name here", required: "true" %>
      </div>
      <div class="form-control">
        <%= render partial: 'shared/form/label', locals: { for_name: "email", placeholder: "Email" } %>
        <%= f.email_field :email, class: "input-field", placeholder: "johndoe@example.com", required: "true" %>
      </div>
    </div>
    <%= f.submit "SEND INVITATION", class: "btn btn-primary" %>
  <% end %>
</div>

