<div class="main-content__container w-full max-w-sm h-full flex flex-col justify-center p-4 pb-20 mx-auto">
  <%= link_to root_path, class: "main-content__return-btn w-fit btn-circle btn-outline mb-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
    </svg>  
  <% end %>
  <h4 class="main-content__heading heading-2 text-grayscale-100 mb-2">Sign In</h4>
  <p class="main-content__subheading text-body text-grayscale-100 mb-4">Please fill in this form to enter.</p>
  <%= form_with model: @user, url: user_sessions_path do |f| %>
    <div class="main-content__form-container space-y-4 mb-6">
      <div class="form-control">
        <%= render partial: 'shared/form/label', locals: { for_name: "username", placeholder: "Username" } %>
        <%= f.text_field :username, class: "input-field", placeholder: "Enter your username", required: "true" %>
      </div>
      <div class="form-control">
        <div class="flex justify-between items-center">
          <%= render partial: 'shared/form/label', locals: { for_name: "user_password", placeholder: "Password" } %>
          <%= link_to "Forgot Password?", forgot_password_path, class: "text-grayscale-200 hover:text-grayscale-100 hover:underline" %>
        </div>
        <%= render partial: 'shared/form/password_field', locals: { f: f, id: "user_password", name: "user[password]", placeholder: "Enter your password" } %>
      </div>
    </div>
    <%= f.submit "SIGN IN", class: "btn btn-primary" %>
    <p class="text-body text-grayscale-100/75 mt-4">Don't have an account? <%= link_to "Register Now.", sign_up_path, class: "text-bold text-primary-300 hover:underline" %></p>
  <% end %>
</div>
