<h3 class="heading-3 text-grayscale-100">Detail Attendance:</h3>

<% if @attendance.selfie.attached? %>
  <%= image_tag url_for(@attendance.selfie), class: 'w-full max-w-md aspect-[3/4] rounded-lg object-cover' %>
<% end %>

<p class="text-body text-grayscale-100">
  Name: <%= @attendance.user.full_name %>
</p>
<p class="text-body text-grayscale-100">
  Status: <%= @attendance.status %>
</p>
<p class="text-body text-grayscale-100">
  Details: <%= @attendance.details %>
</p>
<% if @attendance.selfie.attached? %>
  <div class="flex items-center gap-4 text-body text-grayscale-100">
    Location: <%= @attendance.latitude %>, <%= @attendance.longitude %> <a href="https://www.google.com/maps/search/?api=1&query=<%= @attendance.latitude %>,<%= @attendance.longitude %>" class="w-max btn btn-outline" target="_blank">Open Map</a>
  </div>
<% end %>

<%= link_to "<- Back to Attendances listing", attendances_path, class: "text-body text-grayscale-100 underline" %>