<!DOCTYPE html>
<html>
  <head>
    <title>Admin | AbsensiApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="w-full h-screen flex">
      <aside class="sidebar w-80 flex flex-col bg-white drop-shadow-xl">
        <div class="sidebar__header p-4">
          <%= link_to "Absensi App", admin_dashboard_path, class: "sidebar__dashboard-link text-3xl text-bold" %>
        </div>
        <ul class="sidebar__menu flex-1 p-4 space-y-1 border-t border-grayscale-100">
          <li class="sidebar__nav-item">
            <%= render partial: 'shared/sidebar/nav-link', locals: { path: admin_dashboard_path, icon: 'home', label: 'Dashboard', active: current_page?(admin_dashboard_path) } %>
          </li>
          <li class="sidebar__nav-item">
            <%= render partial: 'shared/sidebar/nav-link', locals: { path: admin_companies_path, icon: 'building', label: 'Companies', active: current_page?(admin_companies_path) } %>
          </li>
          <li class="sidebar__nav-item">
            <%= render partial: 'shared/sidebar/nav-link', locals: { path: admin_users_path, icon: 'users', label: 'Users', active: current_page?(admin_users_path) } %>
          </li>
          <li class="sidebar__nav-item">
            <%= render partial: 'shared/sidebar/nav-link', locals: { path: admin_attendances_path, icon: 'calendar', label: 'Attendances', active: current_page?(admin_attendances_path) } %>
          </li>
        </ul>
        <div class="sidebar__footer p-4">
          <%= link_to user_session_path(current_user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure to sign out?' }, class: "w-full p-4 pr-10 flex justify-center items-center gap-2 bg-danger-300 text-grayscale-100 rounded-lg hover:bg-danger-400" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M14 10a.75.75 0 0 0-.75-.75H3.704l1.048-.943a.75.75 0 1 0-1.004-1.114l-2.5 2.25a.75.75 0 0 0 0 1.114l2.5 2.25a.75.75 0 1 0 1.004-1.114l-1.048-.943h9.546A.75.75 0 0 0 14 10Z" clip-rule="evenodd" />
            </svg>
            <span>Sign Out</span>      
          <% end %>
        </div>
      </aside>
      <main class="content flex-1 bg-grayscale-100">
        <% flash.each do |type, msg| %>
          <div id="flash" class="flash flash-<%= type %> absolute top-4 left-1/2 -translate-x-1/2 flex items-center gap-4">
            <% if type == "primary" %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 text-primary-300 shrink-0">
                <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
              </svg>                    
            <% elsif type == "success" %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 text-success-300 shrink-0">
                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
              </svg>                    
            <% elsif type == "danger" %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 text-danger-300 shrink-0">
                <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
              </svg>                 
            <% end %>
            <p class="flash__description text-grayscale-100"><%= msg %></p>
          </div>
        <% end %>
        <div class="content__container p-4">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
  <script>
    setTimeout(function(){
      document.getElementById("flash").style.display = "none";
      }, 5000);
  </script>
</html>
